<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change password</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <a class="btn btn-primary" href="/api/login" role="button">Login</a>
  <a class="btn btn-primary" href="/api/register" role="button">Register</a>
  
<div class="container">
  <h2>Change password</h2>
  <form onsubmit="handleClick(event)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <div class="form-group">
        <label for="new_password">Password:</label>
        <input type="password" class="form-control" id="new_password" placeholder="Enter new password" name="new_password">
      </div>
    <button type="submit" class="btn btn-default">Change</button>
    <p id="response"></p>
  </form>
</div>

<script>
  function handleClick(event)
	{
    event.preventDefault();

    var options = {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: document.getElementById("username").value,
        password: document.getElementById("password").value,
        new_password: document.getElementById("new_password").value
      })
    }
    
	  fetch('/api/change', options)
    .then(response => {
        if (response.status == 401)
            document.getElementById("response").innerHTML = "Invalid username or password";
        else if (response.status == 200)
        {
            document.getElementById("response").innerHTML = "Successfully";
            window.location = '/api/login';
        }
        else
            document.getElementById("response").innerHTML = "Error";
      
    })
  }
</script>

</body>
</html>
