<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<a class="btn btn-primary" href="/api/change" role="button">Change password</a>

<div class="container">
  <h2>Login</h2>
  <form onsubmit="handleClick(event)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <p id="response"></p>
  </form>
</div>

<script>
  function handleClick(event)
	{
    event.preventDefault();

    var options = {
      method: 'POST',
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: document.getElementById("username").value,
        password: document.getElementById("password").value
      })
    }
    
	  fetch('/api/login', options)
    .then(response => {
      if (!response.ok) document.getElementById("response").innerHTML = "Invalid username or password";
      else window.location = response.url;
    })
  }
</script>

</body>
</html>
